**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
crash.*.log

*.tfvars
*.tfvars.json

.terraform.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json


*tfplan*
*.tfplan*

.terraformrc
terraform.rc

.DS_Store

Thumbs.db

.idea/
*.swp
*.swo
*~
.vscode/
*.sublime-project
*.sublime-workspace

*.bak

.env
.env.local

*.pem
*.key

*.crt
*.cer
*.p12
*.pfx
